* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav {
    background-color: orange;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: rgb(100, 100, 200);
    margin: 10px;
}
nav > ol {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
ol li {
    margin: 0 10px;
    font-weight: bold;
    position: relative;
}
ol li a {
    text-decoration: none;
    color: rgb(100, 100, 200);
    display: inline-block;
    padding: 10px;
}
ol li a:hover {
    border: 1px solid rgb(100, 100, 200);
}
ol li ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: orange;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100px;
    text-align: center;
}
ol li ul li {
    display: block;
    margin: 0;
}
ol li ul li a {
    padding: 10px;
    white-space: nowrap;
}
ol li:hover ul {
    display: block;
}
