header{
    font-size: 2.1rem;
    color:blue;
}

body{
    margin: 15px;
    padding: 10px;
    text-align: center;
    border: ridge;
    background-color: grey;
}

section{
    height: 285px;
    margin: 20px;
}

button{
    height: 50px;
    width: 50px;
    font-size: large;
    margin: 2.5px;
    background-color: rgb(151, 151, 251);
}

#display{
    border: solid;
    height: 50px;
    background-color: rgb(250, 200, 110);
    margin-bottom: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear{
    background-color: rgb(250, 80, 80);
}

.operator{
    background-color: greenyellow;
}

footer{
    color: blue;
    font-size: 1.1rem;
}